<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录/注册</title>
</head>
<body>

<h2>注册</h2>
<form action="__USER__/login/register" enctype="multipart/form-data" method="post">
    用户名<input type="text" name="username"> <br>
    密码<input type="password" name="password"> <br>
    真实姓名<input type="text" name="realname"> <br>
    电话<input type="text" name="tel"> <br>
    <input type="submit" value="注册">
</form>

<h2>登录</h2>
<form action="__USER__/login/oklogin" enctype="multipart/form-data" method="post">
    用户名<input type="text" name="username"> <br>
    密码<input type="password" name="password"> <br>
    <input type="submit" value="登录">
</form>
</body>
</html>